/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

body{
    font-family: Poppins;
    /* font-style: Orbitron; */
}

/* Navigation bar */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
}

/* Navbar Logo */
.navbar-container div img{
    width: 120px;
    height: 40px;
}

/* Items in Navbar */
.list{
    list-style: none;
    display: flex;
}

.list-item{
    font-family: Orbitron;
    padding: 30px;
    font-size: larger;
    font-weight: bolder;
}

.list-item:first-child{
    text-decoration:underline;
}
/* Button Group */

.search-icon{
    width:30px;
    height:8px;
}

.button-group{
    display: flex;
    align-content: center;   
}

.nav-button{
    background-color: #fff;
    border: solid 3px black;
    border-radius: 12px;
    color: #545454;
    width:150px;
    height: 40px;
    padding:7px;
    margin-left:13px ;
    font-size: 22px;
}

/* Body content */
.hero-container{
    display: flex;
    padding-top: 22px;
}

/* Person Image */
.hero-container div img{
    position: relative;
    top :7%;
    right :73%;
    height: 480px;
    width: 390px;
}
/* Mesh */
.square img{
  width: 310px ;
  height: 310px;
  position: relative;
  left:93%;
  top:52%;
} 

.globe{
    position: relative;
    left:30%;
    bottom: 20px;
    height: 80px;
    width:80px;  
}
.globe img{
    height: 50px;
    width: 50px;
 }

.star{
    position: relative;
    left:68%;
    height: 50px; 
}
.star img{
    height: 40px;
    width: 40px;
 }

.hero-container>span:nth-child(2){
      position: absolute;
      left:46%;
      top: 80%;

 }
 /* .first span:nth-child(2n + 1), */
/* Text on Right */
.hero-container-right{
    position: absolute;
    left :47%;
    top: 27%;
}

.hero-heading{
    font-size: 57px;
    font-family: Orbitron;
    position: relative;
    right:60px;
    width: 900px;
}

.hero-description{
    width: 650px;
    color: #7c7c7c;
    text-align: center;
    font-size:15px;
}

.button-email,.button-join{
    font-family: Orbitron;
    border-radius: 7px;
    margin-top:50px;
    margin-bottom: 50px;
    position: relative;
    left:17%;
    height: 30px;
    font-size: 20px;
}
.button-email{
    background-color: #fff;
    border-radius: 7px;
    color: #565656;
    width:200px;
    margin-right: 10px;
}

.button-join{
    background-color: #000;
    color: #fff;
}

/* Contact Us Section */
.contact-heading{
   color: rgb(113, 112, 112);
   position: relative;
   margin:20px;
   left:28%;
   top:16px;
   font-size: 19px;
   font-weight: initial;
}

.icons span img{
   width: 33px;
   height: 33px;
   padding:7px;
   position: relative;
   left:25%;
}