body{
    background-color: #151515;
    color: #fff;
    font-family:"Poppins";
}
/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8%;
}
ul{
    list-style: none;
    display: flex;
    gap: 35px;
    align-items: center;
}
nav img{
    width :110px;
    height:60px;
}
.listitem{
    background-image: url("./Assets/Icons/btn-pink-bg.svg");
    background-repeat: no-repeat;
}
/* Main Section */
main{
    background-image: url("./Assets/Photos/backCards.png");
    background-repeat: no-repeat;
    background-position: bottom 130px right -150px;
    background-size: 900px, 600px;
    display: flex;
    padding :5% 8%;
    overflow: hidden;
}
/*Main Right*/
main>img{
    height: 600px;
    position: relative;
    right:180px;
    bottom: 20px;
} 
/* Main Left */
main h1{
    font-size:80px ;
    font-weight:400;
    width:950px;
}
main span{
    color: #f637ec;
}
main>div>p{
    font-size:18px ;
    color: #8a858a;
    padding-top: 50px;
    width:63%;
    position: relative;
    bottom:70px;
}
.started{
    font-weight: 500;
    position: relative;
    bottom: 30px;
}
.started img:first-child{
    position: relative;
    left:20px;
    top:3px;
}
.started img:nth-child(2){
    width:35px;
    position: relative;
    left:10px;
}
.main2 h2{
    font-weight:400;
    font-size:40px ;
}
.image{
    height: 50px;
    position: relative;
}
.main1{
    display: flex;
    align-items: center;
    gap:25px;
}
.main2{
    display: flex;
    align-items: center;
    gap:10px;
}

/* Logo Section */
.logo{
    padding :4% 18%;
    background-color: #292929;
    display: flex;
    justify-content:space-between;
    /* gap:90px; */
}
.logo img{
    width :110px;
    height:60px;
}

/* Section 1 */
.section1{
    padding :5% 8%;
}
.onesection1{
    display: flex;
    align-items: center;
}

.onesection1 h1{
    font-size:60px ;
    font-weight:400;
    width: 60%;
}
.onesection1 p{
    font-size:20px ;
    width :38%;
    color: #8a858a;
}
.onesection1 span{
    color: #f637ec;
}
.section1>.twosection1>div>img{
    width: 110px;
    height: 110px;
}
.twosection1{
    display: flex;
    gap :45px;
    justify-content: center;
    margin :5% 0%;
}
.twoone{
    width: 300px;
    height: 300px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(247, 245, 247), rgb(75, 73, 67)) 1;
    position: relative;
    top:40px;
}
.twotwo{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(#403c3a, #5d5d5c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    border-image: linear-gradient(135deg, rgb(247, 245, 247), rgb(75, 73, 67)) 1;
    align-self: flex-start;
}
.twotwo p{
    text-align: center;
}
/* Section 2 */

.section2{
    background-color:#fceffb;
    color: #000000;
    text-align: center;
    padding-top: 5%;
}
.section2 h1{
    font-size:70px ;
    font-weight:400;
    padding :0% 23%;
}
.section2 span{
    color: #f637ec;
    font-weight: bolder;
}
.section2 p{
    padding :0% 30%;
    font-size: 16px;
    color: #686468;
}
.section2 img{
    position: relative;
    bottom:50px;
}

/* Section 3 */
.section3{
    padding :5% 10%;
}
.section3 h1{
    font-size:60px ;
    font-weight:400;
    width :80%;
    position: relative;
    left :70px;
    text-align: center;
}
.section3 span{
    color: #f637ec;
}
.section3>p{
    font-size: 18px;
    color: #686468;
    position: relative;
    left:200px;
    width:50%;
    text-align: center;
}

/* Buttons */
.buttons{
    display: flex;
    justify-content: center;
    gap:8px;
}
.button1{
    background-color:#f637ec ;
    width: 73px;
    height: 13px;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 3px 15px #d53a9d;
}
.button2{
    background-color:#474447;
    width: 13px;
    height: 13px;
    border: 1px;
    border-radius: 8px;
}
/* Block */
.blocks{
    margin: 70px 0;
    display: grid;
    grid-template-columns: 43% 43%;
    grid-template-rows: 50% 50%;
    gap :40px;
    justify-content: center;    
}
.block1{
    background-image: linear-gradient(#403c3a, #5d5d5c);
    padding :30px;
    width :400px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(247, 245, 247), rgb(75, 73, 67)) 1;
}
.block2{
    background-color: #1e1f24;
    padding :30px;
    width :400px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(180deg, rgb(247, 245, 247), #1e1f24) 1;
}
/* Section 4 */
.section4{
    padding :10% 10%;
    background-image:  url("./Assets/Photos/Diamond-right.png"), url("./Assets/Photos/Diamond-left.png"),url("./Assets/Photos/Rectangle 6774.png"), url("./Assets/Photos/Rectangle 6773.png");
    background-repeat: no-repeat;
    background-size: contain, contain , cover,cover;
    background-position: left ,right, left, right;
}
.section4 h1{
    font-size:70px ;
    font-weight:500;
    width :80%;
    position: relative;
    left :70px;
    text-align: center;
}
.section4 p{
    text-align: center;
    font-weight: 500;
}
.section4 p img:first-child{
    position: relative;
    left :20px;
    top:5px;
}
.section4 p img:nth-child(2){
    width:35px;
}
.section4 span{
    color: #000000;
}
/* Footer */
footer{
    display: flex;
    align-items: center;
    padding: 7% 8%;
    gap: 200px;
}
ul{
    list-style: none;
    display: flex;
    gap: 35px;
}
footer img{
    width :110px;
    height:60px;
}