/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
/* Header Elements */

body{
    font-family:"Poppins";
    box-sizing: border-box;
    }
/* Navbar */
.navbar-container{
    padding-top: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-left: 8%;    
    padding-bottom: 50px; 
}

.navbar-container div img{
    width: 100px;
}

/* List */
.list{
    display: flex;
    list-style: none;
    color: #c6bdbd;
    position: relative;
    right :50%;
}

ul>:first-child{
   color: black;
}
.list-item{
    padding : 15px;
}

/* Banner Stuff */

.banner-container{
    display: flex;
    align-items: center;
}
.heading-text, .description{
  padding-left: 30%;
}
.heading-text{
    font-size: 60px;
    color: #3c2f60;
    font-weight:600;
    line-height: 1.25;
    position: relative;
    bottom: 50px;
}
.description{
    color: #8b8b8b;
    font-size: 13px;
    width: 40%;
    position: relative;
    bottom: 70px;
}
span{
    color: #5955b3;
}

/* Buttons */

.nav-button{
   background-color: #5955b3;
   color: white;
   border: none;
   border-radius: 10px;
   width: 120px;
   height :45px;
   position: relative;
   right:20px; 
}
.banner-container div button{
    width: 12%;
    height:55px;
    position: absolute;
    left : 16%;
    bottom: 15%;
    
}
/* Image */
.banner-container div img{
    height: 75vh;
    width: 50vw;
}