body{
    background-color: #111010;
    color: #ffffff;
    font-family:"Poppins";
}
/* Navbar */
nav{
    color:#9b9a9a;
    display: flex;
    padding:2% 10%;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap:20px;
}
nav button{
    background-color: #0c8bfd;
    color: #ffffff;
    width:120px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
}
/* Main Section */
main{
    padding:4% 10%;
    display: flex;
    /* justify-items: top; */
}
main div{
    position: relative;
    bottom:50px;
}
main h1{
    font-size:65px ;
    font-weight:600;
    line-height:1.25em;
}
main i{
    color: #0c8bfd ;
}
main p{
    font-size:21px ;
    color: #8a858a;
    width: 90%;
}
main button{
    color: #ffffff;
    width:180px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    margin:30px 0;
}
.buttonone{
    background-color: #0c8bfd; 
}
.buttontwo{
    background-color: #111010;
    border:1px solid #ffffff;
    margin-left: 30px;
}
/* Logo Section */
.logo{
    padding : 2% 18%;
    background-color: #1d1c1c;
    display: flex;
    justify-content:space-between;
}
.logo img{
    width :130px;
    height:80px;
}
/* Features Section */
.features{
    background-color: #ffffff;
    padding : 2% 10%;
    color: #000;
}
/* First Part Features Section */
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.first h1{
    font-size:55px ;
    font-weight:600;
}

.first>p{
    color: #8a858a;
    font-size:21px ;
    text-align: center;
    width:50%;
    position: relative;
    bottom: 30px;
}
.cards{
    display: flex;
    gap:40px;
    padding-bottom: 100px;
}
.card1{
    text-align:center;
    border: 2px solid #bdb5bd;
    border-radius: 30px;
    padding: 25px 20px;
    position: relative;
    top:40px;
}
.card2 h3,.card1 h3 {
    font-size: 28px;
}
.card1 p, .card2 p{
    color: #8a858a;
    font-size: 19px;
}
.card2{
    background-color: #000;
    color: #ffffff;
    border-radius: 30px;
    padding: 25px 20px;
    text-align: center;
}
/* Second Heading */
.first h2{
    font-size:55px ;
    font-weight:600;
    padding-right:20%;
}
/* Second Part Features Section */
  .second{
    display: flex;
    gap:40px;
  }
  .one{
    display: flex;
    flex-direction: column;
    gap:35px;
    font-size: 23px;
    font-weight: 500;
    width: 60%;
  }
  .one div{
    border:2px solid #bdb5bd;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  .one div:first-child{
    background-color: #0c8bfd;
    border: none;
    color: #ffffff;
  }
  .two{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 19px;
    font-weight: 400;
    gap:10px;
    width: 40%;
    border-radius:50px ;
    background-color: #000;
    color: #eaeaea;
  }
  .two div{
    background-color: #292828;
    border-radius: 50px;
    padding: 19px;
    display: flex;
    justify-content: space-between;
  }

  /* Hosting Section */
 .hosting{
    padding: 5% 10% ;
 }
 .host{
    display: flex;
    justify-content: center;
  }
  .host h1{
    text-align: center;
    font-size:55px ;
    font-weight:600;
    width: 80%;
  }
  .host img{
    position: relative;
    top:70px;
  }
 .hosttwo{
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    gap:30px;
 }
 .hosttwo1{
    width: 33%;
    background-color: #ffffff;
    color: #000;
    border-radius: 30px;
    padding:0px 20px 30px 20px;
 }
 .hosttwo1 button{
    background-color:#0c8bfd ;
    color: #fff;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
 }
 .hosttwo1 h2, .hosttwo2 h2{
    font-size: 45px;
    font-weight: 600;
 }
 .hosttwo1 h1, .hosttwo2 h1{
    font-size: 52px;
    font-weight: 600;
 }
 .hosttwo1 h1 span{
    color: #cecece;
    font-size: 32px;
    font-weight: 600;
 }
 .hosttwo2 h1 span{
    color: #85c5fe;
    font-size: 32px;
    font-weight: 600;
 }
 .line{
    height: 1px;
    background-color: #e7e7e7; 
 }
 .hosttwo2{
    width: 33%;
    background-color:#0c8bfd;
    padding :0px 20px 30px 20px;
    border-radius: 30px;
 }
 .hosttwo2 button{
    background-color: #fff;
    color: #0c8bfd;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
 }
 .perks{
    padding: 30px 0;
    font-size: 19px;
 }
 .perks div{
    display: flex;
    gap:10px;
 }
 /* Review Section */
 .review{
    background-color: #fff;
    padding :5% 10%;
    color: #000;
 }
.reviewone{
    display: flex;
    align-items: center;
    gap:30px;
}
.reviewone h1{
    font-size:60px ;
    font-weight:600;
    width: 50%;
    line-height: 1.25em;
}
.reviewone p{
    font-size:20px ;
    color: #8a858a;
    width: 50%;
}
.reviewtwo{
    display: flex;
    gap:50px;
}
.reviewblock1{
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
}
.reviewblock1 p, .reviewblock2 p{
    color: #8b8b8b;
}
.reviewblock1 div, .reviewblock2 div{
    font-size: 20px;
    padding-bottom: 20px;
}
.reviewblock2{
    border-radius: 30px;
    padding: 30px;
    border: 1px solid #9b9a9a;
}
.reviewthree{
    margin-top: 80px;
    border-bottom: 8px solid #f3f3f3;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px ;
    height: 8px;
}
.reviewthree::after{
  content: '';
  display: block;
  border-bottom: 8px solid #0c8bfd;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px ;
  max-width: 200px;
  position: relative;
  top:8px;
}
/* Last Section */
.last{
    padding:2% 10%;
}
.last h1{
    font-size:57px ;
    font-weight:600;
    text-align: center;
}
form{
    background-color: #292828;
    padding: 50px 25px;
    border-radius: 40px;
    display: flex;
    gap: 20px;
    margin-bottom:100px ;
}
form input{
    background-color: #3e3d3d;
    padding: 15px 19px;
    border: none;
    border-radius: 30px;
    color: #929191;
    font-size: 18px;
    width: 300px;
}
form button{
    background-color: #0c8bfd;
    color: #ffffff;
    width:190px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
}
.details{
    display: flex;
    padding: 50px 30px;
    justify-content: space-between;
    color: #c0bdbd;
}
.details ul{
    list-style: none;
}
.details ul li{
    padding-bottom: 10px;
    font-size: 15px;
}
.details ul :first-child{
    font-size: 20px;
}
/* Footer */
footer{
    padding:10px 10%;
    display: flex;
    justify-content: space-between;
}
a{
    color: #0c8bfd;
}