body{
    font-family:"Poppins";
}
/* Main Section */
main{
    background-image: url("./assets/Photos/mainBackground.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0 7%;
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
nav ul{
    list-style: none;
    display: flex;
    gap:55px;
    color: #fff;
}
nav img{
    width: 120px;
}
/* Line */
.line{
    height: 1px;
    background-color: #fff;
}
.block{
    padding: 10% 0;
}
main div h1{
    font-size: 3.5em;
    font-weight: 600;
    width: 40%;
    line-height: 4rem;
}
main div p{
    width: 30%;
    padding-bottom: 20px;
}
main div button{
    background-color: #6663e9;
    border: none;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
}
/* Logo Section */
.logo{
     background-color: #fff;
     border-radius: 20px;
     position: absolute;
     padding: 50px;
     margin:0 20px;
     display: flex;
     align-items: center;
     gap:150px;

}
/* Hero Section */
.hero{
    background-color: #f6f8fa;
}