body{
    font-family:"Poppins";
}
/* Main*/
main{
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-size:auto;
    color: #c4c0c0;
    padding:2% 10%;
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap:20px;
}
nav button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 18px;
}
/* Main Section */
.mainsection{
    padding:5% 0;
    display: flex;
    gap:30px;
}
/* Main Left */
.mainleft h1{
   color: #ffffff;
   font-size:3em;
   font-weight: 600;
}
.mainleft p{
    width: 55%;
}
.left{
    padding-top: 2%;
    display: flex;
    gap:20px;
}
.left button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 17px;
}
/* Main Right */
.mainright{
    align-self: flex-end;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:130px;
}
.mainright img{
    width: 70px;
}
.mainright div{
   color: #ffffff;
   font-size: 19px;
}
.right{
   display: flex;
   gap:10px;
}
/* Games Section */
.games{
    padding:5% 7%;
    display: flex;
    flex-direction: column;
}
.games>h1{
    font-size:2em;
    font-weight: 700;
    text-align: center;
}
.cards{
    display: flex;
    gap:30px;
}
.cardsimage{
    height:320px;
    width:300px;
}
.latestgame{
    padding-top: 150px;
    display: flex;
    gap:100px;
}
.latestgame img{
    width: 500px;
    height: 400px ;
}
.latestgame div h1{
    font-size:2em;
    font-weight: 700;
}
.latestgame div button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 17px;
}
.recommended{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommended h1{
    font-size:2em;
    font-weight: 700;
}
.collection{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap:10px;
}
.collectionimage{
    width: 200px;
    height: 250px;
}
.collect{
    display: flex;
    gap:20px;
}
.collect div button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 17px;
}
/* Last Section */
.last{
    background-color: #000;
    color: #ffffff;
    background-image: url("./Assets/Icons/GAMES OF THE WORLD.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding:5% 7%;
}
.last h1{
    font-size:2em;
    font-weight: 700;
    text-align: center;
}
.lastfirst{
    display: flex;
    gap:50px;
}
.lastfirst img{
    width: 500px;
    height: 500px;
}
.firstright{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.firstright p{
    padding-top: 30px;
    width: 65%;
    color: #c4c0c0;
}
.images img{
    width:250px;
    height: 350px;
}
.images{
    display: flex;
    gap:40px;
}
/* Last Section Second Block */
.lastsecond{
    padding :5% 0%;
    background-image: url("./Assets/Photos/Rectangle 606.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lastsecond button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 17px;
}