body{
    font-family:"Poppins";
}
/* Main*/
main{
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-size:auto;
    color: #c4c0c0;
    padding:2% 10%;
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap:20px;
}
nav button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 18px;
}
/* Main Section */
.mainsection{
    padding:5% 0;
    display: flex;
    gap:30px;
}
/* Main Left */
.mainleft h1{
   color: #ffffff;
   font-size:3em;
   font-weight: 600;
}
.mainleft p{
    width: 55%;
}
.left{
    padding-top: 2%;
    display: flex;
    gap:20px;
}
.left button:first-child{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 15px;
}
.left button{
    border: 2px solid #fff;
    width:120px;
    height: 40px;
    font-size: 15px;
    background-color:transparent;
    color:#ffffff;
}
/* Main Right */
.mainright{
    align-self: flex-end;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:130px;
}
.mainright img{
    width: 70px;
}
.mainright div{
   color: #ffffff;
   font-size: 19px;
}
.right{
   display: flex;
   gap:10px;
}
/* Games Section */
.games{
    padding:5% 7%;
    display: flex;
    flex-direction: column;
}
.games>h1{
    font-size:2.5em;
    font-weight: 700;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap:30px;
}
.cardsimage{
    height:330px;
    width:300px;
}
.cardcontent{
    display: flex;
    align-items: center;
    gap:25px;
    padding: 10px 20px;
    backdrop-filter: blur(70px);
    position: relative;
    bottom: 90px;
    color: #ffffff;
    font-size: 15px ;
    line-height: 15px;
}
.cardcontent button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:110px;
    height: 40px;
    font-size: 16px;
}
.latestgame{
    padding-top: 0px;
    display: flex;
    gap:100px;
}
.latestgame img{
    width: 500px;
    height: 400px ;
}
.latestgame div {
    width: 45%;
}
.latestgame div h1{
    font-size:2.5em;
    font-weight: 700;
}
.latestgame div p{
    color: #6a6767;
    font-size: 16px;
    padding-bottom: 30px;
}
.latestbuttons{
    display: flex;
    gap: 25px;
}
.latestbuttons button:first-child{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:130px;
    height: 45px;
    font-size: 15px;
}
.latestbuttons button{
    border: 2px solid #f4694c;
    width:130px;
    height: 45px;
    font-size: 15px;
    background-color:transparent;
    color:#f4694c;
}
.recommended{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommended h1{
    font-size:2em;
    font-weight: 700;
    width: 35%;
}
.arrows{
    display: flex;
    gap: 10px;
}
.arrows img{
    width:40px;
    height: 30px;
    padding: 7px;;
}
.arrows div:first-child{
    background-color: #f7cfc6;
}
.arrows div{
    background-color: #f4694c;
}
.collection{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap:10px;
}
.collectionimage{
    width: 200px;
    height: 250px;
}
.collect{
    display: flex;
    gap:20px;
    margin-bottom: 30px;
}
.collect>div {
    width: 50%;
}
.collect>div>div{
    color: #f4694c;
    font-weight: 500;
    font-size:16px ;
}
.collect>div>p{
    color: #6a6767;
    font-size: 14px;
}
.collect div button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 17px;
}
/* Last Section */
.last{
    background-color: #000;
    color: #ffffff;
    background-image: url("./Assets/Icons/GAMES OF THE WORLD.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding:5% 7%;
}
.last h1{
    font-size:2em;
    font-weight: 700;
    text-align: center;
}
.lastfirst{
    display: flex;
    gap:50px;
}
.lastfirst img{
    width: 500px;
    height: 500px;
}
.firstright{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.firstright p{
    padding-top: 30px;
    width: 65%;
    color: #c4c0c0;
}
.images img{
    width:250px;
    height: 350px;
}
.images{
    display: flex;
    gap:40px;
}
/* Last Section Second Block */
.lastsecond{
    padding :5% 0%;
    background-image: url("./Assets/Photos/Rectangle 606.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lastsecond button{
    background-color:#f4694c;
    border: none;
    color: #ffffff;
    width:120px;
    height: 40px;
    font-size: 17px;
}
/* footer */
footer{
    padding-top:70px;
    display: flex;
    color: #c0bdbd;
    align-items:baseline;
}
footer div p{
    width:60%;
}
.details{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.details ul{
    list-style: none;
}
.details ul li{
    padding: 10px 0;
    font-size: 16px;
}
.details ul li:first-child{
    color: #ffffff;
}
a{
    color: #c0bdbd;
    text-decoration: none;
}